:root {
  --primary: rgb(57, 128, 239);
  --primary-dark: rgb(3, 35, 68);
}
html{
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    var(--primary) 0%,
    var(--primary) 30%,
    var(--primary-dark) 70%,
    var(--primary-dark) 100%
  );

}
.App {
  text-align: center;
}
h1 {
  padding-top: 1rem;
  font-size: 2em;
  margin-bottom: -2rem;
}
.container {
  display: flex;
  min-height: 80vh;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  vertical-align: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-around;
  }
}
.player{
  width: 15rem;
  height: 15rem;
  margin-top: 1rem;
}
img {
  width: 15rem;
  filter: drop-shadow(.5em .5em 0.25em);
}
@media screen and (min-width:768px) {
  img{
    width: 30rem;
  }
}
.btn{
  width: 50px;
  border: none;
  margin: 0 2rem;
  cursor: pointer;
  background-color: transparent;
  color: beige;
  size: 4em !important;
}
.container-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -95%);
  background: yellow;
  width: 100%;
}